<footer class="footer mt-auto py-3 bg-dark text-center">
    <div class="container">
      <span class="text-muted">&copy; YelpCamp <%= new Date().getFullYear() %> | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New
          Campground</a></span>
          <p class="mt-2 mb-0">Developed by <a href="https://github.com/ajdinkomic">Ajdin Komic</a></p>
    </div>
  </footer>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <!-- Bootstrap JS CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>
</html>