<% include ./partials/header %>

<header id="landing-header">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center m-0 text-center">
      <div class="col-md-12">
        <h1 class="mb-4">YelpCamp</h1>
        <p class="mb-4">Your next <span class="adventure">adventure</span> starts here</p>
        <a href="/campgrounds" class="btn btn-custom btn-lg btn-fill">All Campgrounds</a>
        <a href="/register" class="btn btn-custom btn-lg btn-greenish-full">Sign Up</a>
      </div>
    </div>
</header>

<section id="landing-content">
  <div class="container">
    <div class="row frame-row bg-white justify-content-center">
      <div class="col-md-8 text-center">
        <h2>Welcome to YelpCamp, the right place to find your ideal campground</h2>
        <p>Join our community and post your campground and leave reviews on other ones or explore campgrounds without
          registration</p>
        <a href="/campgrounds" class="btn btn-custom btn-lg btn-start btn-greenish-full">Start Exploring</a>
      </div>
    </div>
    <div class="row frame-row bg-white justify-content-center mt-5">
      <div class="col-md-10 text-center">
        <div class="container-fluid">
          <div class="row py-5 landing-icons-row">
            <div class="col-md-6 p-4 p-md-5"><i class="fas fa-2x fa-campground"></i>
              <div class="number my-3">
                <h1><%= campCount %></h1>
              </div>
              <h6>CAMPGROUNDS</h6>
            </div>
            <div class="col-md-6 p-4 p-md-5"><i class="fas fa-2x fa-user"></i>
              <div class="number my-3">
                <h1><%= userCount %></h1>
              </div>
              <h6>USERS</h6>
            </div>
            <div class="col-md-6 p-4 p-md-5"><i class="fas fa-2x fa-comments"></i>
              <div class="number my-3">
                <h1><%= reviewCount %></h1>
              </div>
              <h6>REVIEWS</h6>
            </div>
            <div class="col-md-6 p-4 p-md-5"><i class="fas fa-2x fa-user-plus"></i>
              <div class="number my-3">
                <h1>1M+</h1>
              </div>
              <h6>REASONS TO JOIN</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sign-up-section">
  <div class="container-fluid py-5">
    <div class="row m-0 justify-content-center align-items-center">
      <div class="col-md-12 text-center">
        <h2>SIGN UP TODAY</h2>
        <p class="my-3">start posting campgrounds, leaving reviews and make your next vacation unforgettable</p>
        <a href="/register" class="btn btn-custom btn-lg btn-fill">Sign Up</a>
      </div>
    </div>
  </div>
</section>

<footer class="footer mt-auto py-3 bg-dark text-center">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2019 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New
        Campground</a></span>
    <p class="mt-2 mb-0">Developed by <a href="https://github.com/ajdinkomic" target="_blank">Ajdin Komic</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script async defer>
  $(function () {
    $("nav").removeClass("bg-dark");
    $(window).scroll(function () {
      if ($(this).scrollTop() < 130 && !$("nav").hasClass("scrolled")) {
        $("nav").removeClass("bg-dark");
      } else {
        $("nav").addClass("bg-dark");
      }
    });
    $(".navbar-toggler").on("click touch", function () {
      $("nav").toggleClass("toggledNav");
    });
  });
</script>
</body>

</html>