<% include ./partials/header %>
<section id="register-page-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h1>Sign Up</h1>
            </div>
            <div class="col-lg-6 offset-lg-3 my-5">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="username">Username *</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="username" pattern="^[a-z0-9_-]{4,10}$" title="Contains lowercase letters, numbers and _ or -. Minimum length: 4. Maximum length: 10."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Passw0rd!" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$" title="Must contain at least one uppercase letter, one lowercase letter, a number and a special character. Minimum length: 8."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name *</label>
                        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="Firstname" pattern="[A-Za-z]{1,25}" title="Contains uppercase and lowercase letters. Minimum length: 1. Maximum length: 25."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name *</label>
                        <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Lastname" pattern="[A-Za-z]{1,25}" title="Contains uppercase and lowercase letters. Minimum length: 1. Maximum length: 25."
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail *</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="email@example.com"
                            required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" title="Make your e-mail visible so others could contact you"
                            id="shareEmail" name="shareEmail" value="share" type="checkbox">
                        <label class="form-check-label" for="shareEmail">
                            <small>Share my e-mail with others</small>
                        </label>
                    </div>
                    <h4 class="mt-5">Additional Information (Optional)</h4>
                    <p><em>NOTE: All information provided in this section will be publicly accessible!</em></p>
                    <div class="form-group">
                        <label for="profilePhoto">Profile Photo</label>
                        <input type="text" class="form-control" id="profilePhoto" pattern="^https:\/\/.*"
                            placeholder="https://imageurl.com/..." name="profilePhoto">
                    </div>
                    <div class="form-group">
                        <label for="facebook">Facebook Link</label>
                        <input type="text" class="form-control" id="facebook" pattern="^https:\/\/facebook.com\/.*"
                            placeholder="https://facebook.com/..." name="facebook">
                    </div>
                    <div class="form-group">
                        <label for="youtube">Youtube Link</label>
                        <input type="text" class="form-control" id="youtube"
                            pattern="^https:\/\/youtube.com\/channel\/.*" placeholder="https://youtube.com/channel/..."
                            name="youtube">
                    </div>
                    <div class="form-group">
                        <label for="twitter">Twitter Link</label>
                        <input type="text" class="form-control" id="twitter" pattern="^https:\/\/twitter.com\/.*"
                            placeholder="https://twitter.com/..." name="twitter">
                    </div>
                    <div class="form-group">
                        <label for="linkedIn">LinkedIn Link</label>
                        <input type="text" class="form-control" id="linkedIn" pattern="^https:\/\/linkedin.com\/.*"
                            placeholder="https://linkedin.com/..." name="linkedIn">
                    </div>
                    <div class="form-group">
                        <label for="email">Have an Admin Code?</label>
                        <input class="form-control" type="password" name="adminCode" placeholder="Admin Code">
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-custom btn-greenish-full btn-block" type="submit">Sign Up!</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="/campgrounds">All Campgrounds</a>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer-scripts-only %>